@use "../variables";

/**
 * CONTENTS
 *
 * SETTINGS
 * Reset.............CSS Reset for consistent styling.
 *
 * BASE
 * Body..................Global body styles.
 * Typography............Base typography styles (H1–H6, p, etc.).
 *
 * LAYOUT
 * Header................Main header layout.
 * Footer................Main footer layout.
 * Main..................Main content area.
 *
 * COMPONENTS
 * Hero..................Hero section with background image and banner.
 * Presentation..........Presentation section with heading and video.
 * Highlights............Highlights section with animations and layout.
 *
 * UTILITIES
 * Helpers...............General helper classes.
 */


//------------------------------------*\\
// #SETTINGS
//------------------------------------*\\

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





//------------------------------------*\\
// #BASE
//------------------------------------*\\

// Global body styles
html {
  scroll-behavior: smooth;
}


body {
  font-family: $font-family-roboto;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: $bg-color;
  color: $primary-color;
  line-height: 1.5;
}


// Typography
h1 {
  font-family: $font-family-noto-serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 2rem;

  @media (min-width: $mqMinTablet) {
    font-size: 3rem;
  }
}


h2 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 700;

  @media (min-width: $mqMinTablet) {
    font-size: 2.2rem;
  }
}


h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 700;

  @media (min-width: $mqMinTablet) {
    font-size: 1.8rem;
  }

}


p {
  font-size: 1rem;
  margin-bottom: 0.8rem;

  @media (min-width: $mqMinTablet) {
    font-size: 1.2rem;
  }
}





//------------------------------------*\\
// #LAYOUT
//------------------------------------*\\

// Header
header {
  background-color: $text-color-dark-background;
  font-size: 1rem;
}

// Navigation
nav {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $text-color-dark-background;
  letter-spacing: 0.1rem;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  transition: color 0.3s;
}


// Footer
footer {
  font-size: 0.9rem;

  @media (min-width: $mqMinTablet) {
    font-size: 1.2rem;
  }
}


// Main content are
main {
  padding-bottom: 50px;
}





//------------------------------------*\\
// #COMPONENTS
//------------------------------------*\\

// Hero Section
.hero {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../images/hero.jpg);
  background-color: variables.adjust-opacity(
    variables.$primary-color, 0.1);
  background-blend-mode: darken;
  background-size: cover;
  margin-bottom: 60px;

  &__banner {
    color: $text-color-dark-background;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    position: absolute;
    top: 10%;
  }

}


// Presentation Section
.presentation {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  &__heading{
    margin-bottom: 50px;
  }

  &__video {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16/9;
    border: 0;
    margin-bottom: 50px;
  }

}


// Highlights Section
.highlights {

  &__title {
    display: inline-block;
    margin-bottom: 50px;
  }

  &__heartbeat {
    animation: beat 1s infinite linear;
    transform-origin: center center;
  }

  @keyframes beat {
    0%, 100% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1);
    }
  }

}


.highlight {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  &__image,
  &__content {
    flex: 1;
    margin-bottom: 50px;
  }

  &__image {
    margin-right: 20px;

    &--fluid {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 10px;
    }

    &--even {
      order: 1;
      margin-right: 0;
      margin-left: 20px;
    }
  }

  .clip {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transition: 0.5s;
  }

  .clip:hover {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  @media (max-width:$mqMinMobile) {
      flex-direction: column;

    &__image {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 20px;
    }

    &__image--even {
      order: 0;
      margin-left: 0px;
    }
  }

}





//------------------------------------*\\
// #UTILITIES
//------------------------------------*\\

// Helper classes
li {
  list-style-type: none;
}


a {
  text-decoration: none;
}
