<header class="header">
    <nav class="header__navbar">
        <!-- logotipo -->
        <div class="header__logo">
            <a href="#" title="Valencia" aria-label="Ir al contenido principal" >
                <i class="fa-solid fa-umbrella-beach"></i>
            </a>
        </div>

        <!-- barra de navegación -->
        <ul class="header__navigation">

            <li>
                <a class="header__link" href="#playas" aria-label="Enlace a las playas de Valencia" >Playas</a>
            </li>

            <li>
                <a class="header__link" href="#fallas" aria-label="Enlace a las Fallas de Valencia" >Fallas</a>
            </li>

            <li>
                <a class="header__link" href="#gastronomia" aria-label="Enlace a la gastronomía de Valencia">Gastronomía</a>
            </li>

            <li>
                <a class="header__link" href="#naturaleza" aria-label="Enlace a la naturaleza en Valencia">Naturaleza</a>
                </li>

            <li>
                <a class="header__link" href="#historia" aria-label="Enlace a la historia y museos de Valencia">Historia</a>
            </li>

        </ul>

        <!-- icono de hamburguesa -->
        <button class="header__hamburguesa" aria-label="Abrir el menú de navegación">
            <span class="header__hamburguesa-line"></span>
            <span class="header__hamburguesa-line"></span>
            <span class="header__hamburguesa-line"></span>
        </button>
    </nav>
</header>