@use "sass:color";

// Función personalizada para ajustar la opacidad de un color
@function adjust-opacity($color, $opacity) {
    @return color.change($color, $alpha: $opacity);
}

// Variables de colores y fuentes
$font-family-noto-serif: "Noto Serif", serif;
$font-family-roboto: "Roboto", sans-serif;

$primary-color: #313866;
$secondary-color: #BF0CF0;
$contrast-color-light: #F3CCF3;
$text-color-dark-background: #FFFFFF;
$text-color-grey: #9e9dab;
// Ajustar la opacidad de fondo usando la función
$bg-color: adjust-opacity($text-color-dark-background, 0.9);


// Variables de media queries
$mqMinMobile: 768px;
$mqMinTablet: 992px;
$mqMinDesktop: 1200px;